img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 16px 0;
}

p {
  margin: 0;
  padding: 16px 0;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 16px 32px;
  border: 1px solid #666;
  margin: 8px 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

/* Header banner */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url(../images/bgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
  color: rgb(14, 16, 17);
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 24px;
}

/*End Header banner */

/* Section about me */
#section-a {
  background: #eaeaea;
  color: #333;

}

/*End Section about me */

/* Section my projects  */
#section-b {
  padding: 32px 16px 16px;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 16px;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 24px;
}

/* Section my projects */

/*Start Section Education */
#section-edu {
  background: #fff;
  color: #333;
  padding: 32px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*End Section Education */


/*Start Section job experience */
#section-jobexperience {
  background: #fff;
  color: #333;
  padding: 32px;
}

/*End Section job experience */


/* Section contact me / hobbies / interests */
#section-contactme {
  padding: 32px 16px 16px;
}

#section-contactme ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-contactme li {
  margin-bottom: 16px;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 24px;
}

/*End Section contact me / hobbies / interests */

/*Start Footer */

#footer {
  padding: 32px;
  background: rgb(14, 16, 17);
  color: #fff;
  text-align: center;
}

#footer a {
  color: #c3ccd1b0;
  text-decoration: none;
}

/*End Footer */

.column {
  float: left;

}

/* Media Queries */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 32px;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .content-wrap,
  #section-contactme ul {
    grid-column: 2/4;
  }

  #footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-contactme ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }

  #section-contactme li {
    width: 30%;
    height: auto;
  }
}